.postQuestionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.questionForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-left: 20px;
}

.questionLabel {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

.questionInput {
  display: flex;
  resize: vertical;
  max-height: 40rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 50%;
}

.postQuestionButton {
  width: 11rem;
  height: 2rem;
  border-radius: 0.25rem;
  margin: 1rem;
  background-color: #ccc;
  cursor: pointer;
  color: rgb(47, 47, 47);
  border: none;
}
